mixin ui-color({ title = '', value, color = 'basic' })
  .ui-color
    div(class = `ui-color__box ui-color__box_color_${color}`)
    .ui-color__description
      .ui-color__title= title
      .ui-color__value= value
