.ui-color {
  display: flex;
  align-items: center;

  &__box {
    background: $typography-color-darkest;
    width: 5rem;
    height: 5rem;
    border-radius: .4285rem;

    &_color_basic-lightest {
      background-color: $typography-color-lightest;
    }

    &_color_basic-light {
      background-color: $typography-color-light;
    }

    &_color_basic {
      background-color: $typography-color;
    }

    &_color_basic-dark {
      background-color: $typography-color-dark;
    }

    &_color_basic-darkest {
      background-color: $typography-color-darkest;
    }

    &_color_primary {
      background-color: $primary-color;
    }

    &_color_secondary {
      background-color: $secondary-color;
    }
  }

  &__description {
    color: $typography-color-darkest;
    font-family: 'Quicksand', 'Open Sans', sans-serif;
    font-size: 1.357rem;
    padding-left: 2.8571rem;
    line-height: 1.5;
  }

  &__title {
    font-weight: bold;
  }
}
