mixin ui-color({ title = '', value, opacity = 100 })
  .ui-color
    .ui-color__box(style = `opacity: ${opacity/100}; background: ${value}`)
    .ui-color__description
      .ui-color__title= title
      .ui-color__value= value
