include ../ui-color/ui-color

mixin ui-colors-list(colors)
  - const className =  "ui-colors-list";

  div(class = className)
    each color in colors
      div(class = `${className}__color`)
        +ui-color(color)
