include ../ui-color/ui-color

mixin ui-colors-list(colors)
  section.ui-colors-list
    h2.ui-colors-list__title Цветовая палитра

    ul.ui-colors-list__body(lang = "en")
      each color in colors
        li.ui-colors-list__color
          +ui-color(color)
