include ../ui-color/ui-color

mixin ui-colors-list
  - const colors = require('@components/ui-colors-list/data.json');

  section.ui-colors-list
    h2.ui-colors-list__title Цветовая палитра

    ul.ui-colors-list__body(lang = "en")
      each color in colors
        li.ui-colors-list__color
          +ui-color(color)
