@import '../../auxiliary/styles/mixins/titles';

.ui-text-types {
  &__wrapper {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: auto 24rem;
    grid-gap: 3.57142rem 2.142857rem;
  }

  &__title  {
    color: $basic-color-light;
    text-align: right;
    line-height: 1.25;

    &_type_h1 {
      font-size: 1.714285rem;
    }

    &_type_h2 {
      font-size: 1.35714rem;
    }

    &_type_h3 {
      font-size: .85714rem;
    }
  }

  &__content {
    &_type_h1 {
      @include h1;
    }

    &_type_h2 {
      @include h2;
    }

    &_type_h3 {
      @include h3;
    }
  }
}
