include ../star-rating/star-rating

mixin card-info({ id, reviews = 0, price = 1000, rating = 1, type } = {})
  - const isLuxury = type === "luxury";

  .card-info.js-card-info
    .card-info__header
      .card-info__id
        | №&nbsp;
        span.card-info__decorated-id= id
        if isLuxury
          span.card-info__type &nbsp;люкс

      .card-info__price
        b= `${price}₽ `
        | в сутки

    .card-info__separate-line

    .card-info__footer
      +star-rating({ rating })

      .card-info__reviews
        b= reviews
        |  Отзывов
