@mixin hello($margin: 10px, $padding: 5px) {
  margin: $margin;
  padding: $padding;
}

.card-info {
  font-family: 'Quicksand', 'Open Sans' ,sans-serif;
  font-weight: bold;
  color: $basic-color-darkest;
  line-height: 1.2142em;
  white-space: nowrap;

  &__id {
    font-size: 1.3571em;
  }

  &__type {
    font: .8571rem/1.25em $basic-font-name, 'Open Sans', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    color: $primary-color;
    margin-left: .4166em;
  }
}
