extends ../../components/layout/layout
include ../../components/ui-logo/ui-logo
include ../../components/ui-colors-list/ui-colors-list
include ../../components/ui-types/ui-types

block append variables
  -
    const title = "FSD UI-Kit: Colors & Types";
    const keywords = "keywords text";
    const description = "description text";

block append head
  if isProdEnv
    link(rel = "stylesheet" href = "styles/colors.bundle.css")

block body
  -
    const { colors, types } = require("./data.json");
    const className = "colors-page";

  body(class = className)
    div(class = `${className}__logo`)
      +ui-logo

    div(class = `${className}__container`)
      +ui-colors-list(colors)
      +ui-types(types)

    unless isProdEnv
      script(src = "scripts/colors.bundle.js")

