extends ../../assets/markup/layouts/main
include ../../components/ui-colors-page/ui-colors-page

block append variables
  -
    const title = 'FSD UI-Kit: Colors & Types';
    const keywords = 'keywords text';
    const description = 'description text';

block append head
  if isProdEnv
    link(rel = "stylesheet" href = "styles/colors.bundle.css")

block body
  +ui-colors-page

