extends ../../assets/markup/layouts/main
include ../../components/ui-colors-page/ui-colors-page

block append variables
  -
    const title = 'Colors & Types';
    const keywords = 'toxin, toxin цветовые палитры, toxin варианты текста, ui-kit';
    const description = 'Список цветовых палитр и вариантов текста';

block append head
  if isProdEnv
    link(rel = "stylesheet" href = "styles/colors.bundle.css")

block body
  +ui-colors-page
