include ../card/card

mixin room-filter-page
  - const { cards } = require('@components/room-filter-page/data.json');

  body.room-filter-page
    main.room-filter-page__container
      h1.room-filter-page__title Номера, которые мы для вас подобрали

      ul.room-filter-page__cards
        each card in cards
          li.cards-list__item
            +card(card)

    script(src = "scripts/room-filter.bundle.js")
