html {
  color: $basic-color;
  font: $basic-font-size $basic-font-name, sans-serif;
  line-height: 1.5;
  font-kerning: none;

  height: 100%;
  -webkit-tap-highlight-color: transparent !important;
}



