/*     Fonts
~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ */

$basic-font-name: 'Montserrat';
$basic-font-size: 14px;

/*     Colors
~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ */

$basic-color: rgba(31, 32, 65, .75);
$basic-color-light: rgba(31, 32, 65, .5);
$title-color: #1F2041;
