extends ../../assets/markup/layouts/main
include ../../components/index-page/index-page

block append variables
  -
    const title = 'Toxin: Брованиерование номеров';
    const keywords = 'отель, бронирование номеров, Toxin отель, Toxin номера';
    const description = 'Бронирование номеров отеля Toxin';

block append head
  if isProdEnv
    link(rel = "stylesheet" href = "styles/index.bundle.css")

block body
  +index-page
