extends ../../auxiliary/markup/layouts/main
include ../../components/index-page/index-page

block append variables
  -
    const title = 'FSD main page';
    const keywords = 'keywords text';
    const description = 'description text';

block append head
  if isProdEnv
    link(rel = "stylesheet" href = "styles/index.bundle.css")

block body
  +index-page
