include ../ui-colors-list/ui-colors-list
include ../ui-logo/ui-logo
include ../ui-text-types/ui-text-types

mixin ui-colors-page
  - const { colors, types } = require('@components/ui-colors-page/data.json');

  body.ui-colors-page
    main.ui-colors__main
      .ui-colors-page__logo
        +ui-logo

      h1.ui-colors-page__title Цветовая палитра и вариации текста

      .ui-colors-page__container
        +ui-colors-list(colors)
        +ui-text-types(types)

    unless isProdEnv
      script(src = "scripts/colors.bundle.js")
