@import '../../assets/styles/mixins/container';
@import '../../assets/styles/mixins/visually-hidden';

.ui-colors-page {
  margin: 0;

  &__logo {
    padding-left: 1.1428rem;
    padding-top: 2.1428rem;
  }

  &__title {
    @include visually-hidden;
  }

  &__container {
    @include container;
  }

  &__main {
    padding-top: 4.2857rem;
    padding-bottom: 10.35715rem;
  }

  &__content {
    display: grid;
    grid-template-columns: auto;
    justify-content: space-between;
    row-gap: 5rem;

    @media (min-width: 900px) {
      grid-template-columns: auto auto;
    }

    @media (min-width: 1150px) {
      padding-left: 9.7rem;
      padding-right: 12.5rem;
    }
  }
}
