include ../ui-colors-list/ui-colors-list
include ../ui-logo/ui-logo
include ../ui-text-types/ui-text-types

mixin ui-colors-page
  - const { colors, types } = require('@components/ui-colors-page/data.json');

  body.ui-colors-page
    .ui-colors-page__container
      .ui-colors-page__logo
        +ui-logo

    .ui-colors-page__container
      main.ui-colors-page__main
        h1.ui-colors-page__title Цветовая палитра и вариации текста

        .ui-colors-page__content
          +ui-colors-list(colors)
          +ui-text-types(types)

    unless isProdEnv
      script(src = "scripts/colors.bundle.js")
