include ../cards-list/cards-list

mixin index-page
  - const { cards } = require('@components/index-page/data.json');

  body.index-page
    main.index-page__container
      h1.index-page__title Номера, которые мы для вас подобрали

      +cards-list(cards)

    script(src = "scripts/index.bundle.js")
