include ../card-data/card-data
include ../card-slider/card-slider

mixin card({ id, reviews = 0, price = 1000, rating = 1, images, type } = {})
  .card.js-card
    .js-card__images-gallery
      +card-slider({ images })

    +card-data({ id, reviews, price, rating, type })
