include ../card-slider/card-slider
include ../star-rating/star-rating
include ../card-info/card-info
include ../price/price

mixin card({ id, reviews = 0, price = 1000, rating = 1, images, isLuxury = false })
  .card
    +card-slider({ images })

    .card__data
      .card__data-header
        +card-info({ id, isLuxury })
        +price({ value: price, text: 'в сутки' })

      .card__data-footer
        +star-rating({ rating })

        .card__reviews
          span.card__reviews-value= reviews
          | &nbsp;Отзывов
