@import '../../assets/styles/variables';
@import '../card-slider/card-slider';
@import '../card-info/card-info';
@import '../price/price';
@import '../star-rating/star-rating';

.card {
  width: 19.2857rem;
  box-shadow: 0 .7142rem 1.4285rem $typography-color-lightest;
  border-radius: .2857rem;
  overflow: hidden;

  &__data {
    padding: 1.6428rem 1.4285rem 1.2857rem;

    &-header {
      display: flex;
      justify-content: space-between;
      padding-bottom: .8571rem;
    }

    &-footer {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-top: .6428rem;
    }

    * + &-footer {
      border-top: .1rem solid RGBA($typography-color-value, .1);
    }
  }

  &__reviews {
    color: $typography-color;
    line-height: 1.2857;

    &-value {
      font-weight: bold;
    }
  }
}
