.card-data {
  padding: 1.6428rem 1.4285rem 1.2857rem;
  background-color: #fff;

  &__header,
  &__footer {
    display: flex;
    justify-content: space-between;
  }

  &__header {
    padding-bottom: .8571rem;
  }

  * + &__footer {
    border-top: .1rem solid RGBA($basic-color-value, .1);
    padding-top: .6428rem;
  }

  &__footer {
    align-items: center;
  }

  &__reviews {
    color: $basic-color;
    white-space: nowrap;
    line-height: 1.2857;
  }
}
