.card-data {
  padding: 1.6428rem 1.4285rem 1.2857rem;
  background-color: #fff;

  &__header,
  &__footer {
    display: flex;
    justify-content: space-between;
  }

  &__separator {
    background: RGBA($basic-color-value, .1);
    height: .0714rem;
    margin: .8571rem 0 .6428rem;
  }

  &__footer {
    align-items: center;
  }

  &__reviews {
    color: $basic-color;
    white-space: nowrap;
    line-height: 1.2857;
  }
}
