include ../star-rating/star-rating
include ../card-info/card-info
include ../price/price

mixin card-data({ id, reviews = 0, price = 1000, rating = 1, type = 'standart' })
  .card-data.js-card-data
    .card-data__header
      +card-info({ id, type })
      +price({ value: price, text: 'в сутки' })

    .card-data__footer
      +star-rating({ rating })

      .card-data__reviews
        b= reviews
        | &nbsp;Отзывов
