mixin star-rating({ rating = 1, max = 5 } = {})
  -
    const className = "star-rating";
    const starClasses = `${className}__star js-star-rating__star`;
    let count = 0;

  div(class = `${className} js-star-rating`)
    while count < max
      - count += 1;

      div(
        class = (count !== rating) ? starClasses : `${starClasses} ${className}__star_activated`
        tabindex = 0
        data-index = count
      )
