mixin star-rating({ rating = 1, max = 5 } = {})
  -
    const starClasses = 'star-rating__star js-star-rating__star';
    const activatedStarClass = 'star-rating__star_activated';
    let count = 0;

  .star-rating.js-star-rating
    while count++ < max
      button(
        class = (count > rating) ? starClasses : `${starClasses} ${activatedStarClass}`
        type = "button"
        data-index = count
      )
