extends ../layout/layout
include ../cards-list/cards-list

block append variables
  - const title = "FSD landing";

block append head
  link(rel = "stylesheet" href = "https://unpkg.com/swiper/css/swiper.min.css")

  if isProdEnv
    link(rel = "stylesheet" href = "index.bundle.css")

block body
  -
    const data = require("@components/page/data.json");
    const className = "page";

  body(class = className)
    div(class = `${className}__container`)
      h1(class = `${className}__title`) Номера, которые мы для вас подобрали

      +cards-list({ cards: data.cards })

    script(src = "index.bundle.js")
