extends components/page/page

block append variables
  - const title = 'FSD landing';

block append head
  if isProdEnv
    link(rel = "stylesheet" href = "index.bundle.css")

block append scripts
  script(src = "index.bundle.js")

block append page-content
