@import './variables';

html {
  color: $basic-color-dark;
  background: #fff;
  font: $basic-font-size $basic-font-name, 'Open Sans', sans-serif;
  line-height: 1.7142;
  font-kerning: none;

  height: 100%;
  -webkit-tap-highlight-color: transparent !important;
}



