@import './fonts/montserrat';
@import './variables';

html {
  color: $typography-color-dark;
  background: $default-background;
  font: $typography-font-size $typography-font-name, 'Open Sans', sans-serif;
  line-height: 1.7142;
  -webkit-tap-highlight-color: transparent;
}
