@import './fonts/montserrat';

$typography-font-name: 'Montserrat';
$typography-font-size: 14px;

$typography-color-value: 31, 32, 65;
$typography-color-lightest: RGBA($typography-color-value, 5%);
$typography-color-light: RGBA($typography-color-value, 25%);
$typography-color: RGBA($typography-color-value, 50%);
$typography-color-dark: RGBA($typography-color-value, 75%);
$typography-color-darkest: RGB($typography-color-value);

$primary-color-value: 188, 156, 255;
$primary-color: RGB($primary-color-value);

$secondary-color-value: 111, 207, 151;
$secondary-color: RGB($secondary-color-value);
