@mixin font-face($name, $fileName, $weight: normal, $style: normal, $path: false) {
  $pathToFiles: $path or '../../assets/fonts/#{$name}';

  @font-face {
    font-family: $name;
    src: url('#{$pathToFiles}/#{$fileName}.eot');
    src:
      url('#{$pathToFiles}/#{$fileName}.woff') format('woff'),
      url('#{$pathToFiles}/#{$fileName}.ttf') format('truetype'),
      url('#{$pathToFiles}/#{$fileName}.svg') format('svg');
    font-weight: $weight;
    font-style: $style;
  }
}
