@mixin title {
  font-weight: bold;
  color: #1F2041;
}

@mixin h1 {
  @include title;

  font-family: 'Quicksand', 'Open Sans', sans-serif;
  font-size: 1.714285rem;
  line-height: 1.25em;
}

@mixin h2 {
  @include title;

  font-family: 'Quicksand', 'Open Sans', sans-serif;
  font-size: 1.35714rem;
  line-height: 1.2631em;
}

@mixin h3 {
  @include title;

  font-family: 'Montserrat', 'Open Sans', sans-serif;
  font-size: .85714rem;
  line-height: 1.25em;
  text-transform: uppercase;
}
