@import '~swiper/css/swiper.min.css';
@import '../../auxiliary/styles/mixins/material-icons';

.card-slider {
  height: 10.8rem;

  &__slide {
    &-img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__button-prev,
  &__button-next {
    opacity: 0;
    background: linear-gradient(
      90deg,
      rgba(0, 0, 0, .5) 0%,
      rgba(0, 0, 0, 0) 99.99%,
      rgb(255, 255, 255) 100%);
    width: 3.14285rem;
    height: 100%;
    position: absolute;
    top: 0;
    z-index: 10;
    cursor: pointer;

    &:before {
      @include material-icons;

      content: 'keyboard_arrow_left';
      color: #fff;
      text-align: center;
      width: 100%;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  &__button-prev {
    left: 0;
  }

  &__button-next {
    right: 0;
    transform: rotateY(180deg);
  }

  &:hover &__button-prev,
  &:hover &__button-next {
    opacity: 1;
  }

  & &__pagination {
    text-align: right;
    width: auto;
    padding: 0 1.1em;
    box-sizing: border-box;
    position: absolute;
    z-index: 10;
    left: unset;
    right: 0;
    bottom: .5rem;
    pointer-events: none;

    &-bullet {
      background-color: transparent;
      width: .54rem;
      height: .54rem;
      border: .0714em solid #fff;
      margin: 0 0 0 .26em;
      box-sizing: border-box;
      opacity: 1;
      box-shadow: 0 .4em .4em RGBA($basic-color-value, .3);
      display: inline-block;
      border-radius: 50%;

      &_activated {
        background-color: #fff;
      }
    }
  }
}
