mixin card-slider({ images })
  .card-slider.js-card-slider.swiper-container
    .swiper-wrapper
      each image in images
        - const { url, alt } = image;

        .card-slider__slide.swiper-slide
          img.card-slider__slide-img(src = url alt = alt)

    .card-slider__button-prev
    .card-slider__button-next
    .card-slider__pagination

