@import '~swiper/css/swiper.min.css';
@import '../../assets/styles/mixins/material-icons';
@import '../../assets/styles/variables';

$card-theme-color: #fff;

.card-slider {
  height: 10.8rem;

  &__slide {
    &-img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__button {
    opacity: 0;
    background: linear-gradient(
      90deg,
      rgba(0, 0, 0, .5) 0%,
      rgba(0, 0, 0, 0) 100%);
    width: 3.14285rem;
    height: 100%;
    position: absolute;
    top: 0;
    z-index: 2;
    cursor: pointer;

    &:hover {
      opacity: 1;
    }

    &:before {
      @include material-icons;

      content: 'keyboard_arrow_left';
      color: $card-theme-color;
      text-align: center;
      width: 100%;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
    }

    &_side_prev {
      left: 0;
    }

    &_side_next {
      right: 0;
      transform: rotateY(180deg);
    }
  }

  & &__pagination {
    text-align: right;
    padding: 0 1.1rem;
    box-sizing: border-box;
    position: absolute;
    z-index: 1;
    right: 0;
    bottom: .6rem;

    &-bullet {
      background-color: transparent;
      width: .54rem;
      height: .54rem;
      border: .0714rem solid $card-theme-color;
      margin: 0 0 0 .26rem;
      box-sizing: border-box;
      box-shadow: 0 .4rem .4rem RGBA($typography-color-value, .3);
      display: inline-block;
      border-radius: 50%;

      &_activated {
        background-color: $card-theme-color;
      }
    }
  }
}
